<div>
    <div class="card-header">
        <h2 class="heading">Hari Hara Natya Sansada</h2>
    </div>
    <div class="card-body">
        <div class="image-container">
            <img src="54345.png" height="20px" width="30px" alt="Logo" class="logo-image">
        </div>
    </div>
    <div>
        <p>
            About
            Harihara Natya Sansada
            Founder- Bijaya Kumar Raula
            Founder members- Late Balraj Panda, Late Radhakant Pattnaik, Dinabandhu maharana
            Established -1972
            Activated from 1972 to 1987
            Place - Chikalakhandi , Ganjam

            1st Play Pasana Akhire Luha (1972, Script Bijaya Kumar Raula
            Music By- Late S Kameswar, Late Trinath Raula )

            Baguli Jharae Luha(1990, Directed By- Nishakar Panda)
        </p>
    </div>
    <div>
        <h2>List of Names</h2>
        <ul>
            @for (name of names; track name) {
            <li class="name-tag">{{ name }}</li>
            }
        </ul>
    </div>
    <p>
        Manager- Somanath Behera, Birendra Gouda
        Producer- S.Kanteya Reddy, Congress Raula, Prashant Raula
    </p>
</div>